{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Main content section}}
<main id="main-asnd">
	{{! Pagination top links - displayed on paged temmplates}}
	<div id="top-paged-nav-asnd">
	{{pagination}}
	</div>

	{{> loop}}
	
	{{! Pagination links - displayed on every page}}
	{{pagination}}
</main>